/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
:root {
  --main-color: crimson;
  --main-color-alt: #111;
  --padding-top: 100px;
  --padding-bottom: 100px;
}
* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 padding: 0;
 margin: 0
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}
.button-two {

  padding: 9px 8px;

  color: white;

  background-color: crimson;

  border-radius: 6px;

  border: none;

  font-weight: bold;

  position: fixed;

  right: 20px;

  bottom: 20px;

  font-size: 16px;

  transition: 0.2s;

  opacity: 0

}

.btn-two {

  opacity: 1

}
.button-two::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00000073;
  z-index: -1;
  width: 0;
  height: 100%;
  border-radius: 6px;
  transition: 0.5s;
}
.button-two:hover::before {
  width: 100%;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0
}
a {
  text-decoration: none
}
.main-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
  position: relative;
}
.main {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
}
.main-title::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  background-color: black;
  width: 180px;
  height: 3px;
  transform: translateX(-50%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.main-title::after {
  content: "Who I am";
  position: absolute;
  bottom: -25px;
  left: 50%;
  padding: 0 5px;
  color: var(--main-color);
  background-color: #fff;
  transform: translateX(-50%);
}
.serv::before {
  background-color: #fff
}
.serv::after {
  content: "What I provide";
  background-color: var(--main-color-alt);
}
.skill::after {
  content: "What I Know";
}
.teams::before {
  background-color: #fff
}
.teams::after {
  content: "Who With Me";
  background-color: var(--main-color-alt)
}
.contacts::after {
  content: "get in touch"
}
.button {
  display: block;
  width: fit-content;
  font-size: 18px;
  color: white;
  background-color: var(--main-color);
  border-radius: 6px;
  padding: 10px 30px;
  transition: 0.5s;
  margin-top: 10px ;
  border: 2px solid crimson;
}
.button:hover {
  color: var(--main-color);
  background-color: #42445A00
}
/* End Global Rules */
/* Start Header */
/* body:hover .header { */
/*   background-color: var(--main-color); */
/* } */
body:hover .header span {
  color: #fff
}
.header {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.header .logo {
  font-weight: bold;
  font-size: 35px;
  color: white
}
.header .logo span {
  color: #c51a3c;
}
.header ul {
  display: flex;
  transition: 0.5s;
}
.header ul li a {
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
  color: white;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .header .logo {
    font-size: 25px
  }
  .header ul {
    position: fixed;
    background-color: #111;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 80px 0 0 0;
    transform: translateX(-100%)
  }
  .header .nav-links.show {
    transform: translateX(0);
  }
  .header ul li a {
    display: inline-block;
    margin: 20px;
    font-size: 25px
  }
  .header .menu-icon {
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    z-index: 100
  }
  
  .header .menu-icon span {
    background-color: #fff;
    height: 3px;
    margin-bottom: 0px;
    width: 100%;
    transition: 0.5s
  }
  .header .menu-icon:hover span:first-child {
    background-color: red;
    transform: translateY(15px) rotate(45deg)
  }
  .header .menu-icon:hover span:last-child {
    background-color: red;
    transform: rotate(-45deg)
  }
  .header .menu-icon:hover span:nth-child(2) {
    opacity: 0;
    display: none
  }
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../imgs/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  
}
.landing .info {
  margin: 0;
  color: white;
}
.landing .info p:first-child {
  font-size: 15px
}
.landing .info p:nth-child(2) {
  margin: 0;
  font-size: 3em;
  font-weight: 700;
}
@media (max-width: 767px) {
  .landing .info p:nth-child(2) {
    font-size: 2.6em
  }
}
.landing .info .three {
  font-size: 24px;
}
.landing .info .three span {
  color: var(--main-color);
  font-weight: 600
}
.landing .btn {
  display: block;
  margin-top: 20px
}
/* End Landing */
/* Start About */
.about {
  padding: 100px 0;
}
.about .container {
  margin: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px
}
.about .image img {
  border-radius: 10px;
  max-width: 100%
}
.about .info .text {
  margin-top: -30px;
}
.about .info .text h3 {
  font-size: 20px
}
.about .info .text p {
  text-align: justify;
  margin-top: 10px;
  line-height: 2
}
.about .info .text span {
  color: var(--main-color)
}
/* End About */
/* Start Services */
.services {
  background-color: #111;
  color: white;
  padding: 100px 0
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px
}
.head {
  color: white
}
.services .card {
  background-color: rgba(34, 34, 34);
  padding: 50px 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s
}
.services .box {
  text-align: center;
  transition: 0.3s;
}
.services .card:hover {
  background-color: var(--main-color)
}
.services .card:hover .box {
  transform: scale(1.05);
}
.services .card:hover i {
  color: white
}
.services h2 {
  margin: 10px 0;
  font-weight: 500;
  font-size: 25px
}
.services i {
  font-size: 50px;
  color: crimson;
  transition: 0.3s
}
.services p {
  margin: 1px auto;
  text-align: center;
  width: 220px;
  line-height: 1.6
}
@media (max-width: 767px) {
  .services .card {
    padding: 30px 10px
  }
}
/* End Services */
/* Start Skills */
.skills {
  padding: 100px 0;
}
.skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px
}
.skills .text-two h3 {
  font-weight: 600;
  margin-bottom: 15px
}
.skills .text-two p {
  text-align: justify
}
.skills .prog-holder {
  margin-bottom: 20px
}
.skills .prog-holder h4 {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 18px
}
.skills .prog-holder .prog {
  background-color: #eee;
  height: 5px;
  position: relative;
}
.skills .prog span {
  display: block;
  background-color: crimson;
  height: 100%;
}
.skills .prog span::before {
  content: attr(data-prog);
  position: absolute;
  bottom: 10px;
  right: 0
}
/* End Skills */
/* Start Team */
.team {
  background-color: var(--main-color-alt);
  padding: 100px 0;
  color: white
}
.team .teams {
  color: white
}
.team .container .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 20px
}
@media (max-width: 767px) {
  .team .cards .two {
    display: none
  }
}
.team .container .card {
  background-color: rgba(34, 34, 34);
  padding: 25px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%
}
.team .container .card .box {
  text-align: center;
  transition: 0.3s;
}
.team .container .card .box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid var(--main-color);
  transition: 0.3s
}
.team .container .card .box h2 {
  margin: 10px 0;
  font-weight: 500;
  font-size: 30px
}
.team .container .card .box p {
  margin: 1px auto;
  text-align: center;
  line-height: 1.6
}
.team .card:hover {
  background-color: var(--main-color);
}
.team .card:hover .box {
  transform: scale(1.05);
}
.team .card:hover .box img {
  border-color: white
}
.bullets {
  margin-top: 20px;
  text-align: center;
  position: relative;
}
.bullets span {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  background-color: black;
  width: 15px;
  height: 15px;
  margin-right: 10px
}
.bullets .active {
  border-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 40px;
  height: 20px;
  background-color: var(--main-color);
  margin-bottom: -2px;
}
/* End Team */
/* Start Contact */
.contact {
  padding: 100px 0
}
.contact .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px
}
.contact .info {
  flex: 1;
}
.contact .text h3 {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 10px
}
.contact .text p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 18px
}
.contact .info .details .name,
.contact .info .details .address,
.contact .info .details .email {
  display: flex;
  align-items: center;
  margin-bottom: 15px
}
.contact .info .details i {
  color: var(--main-color);
  padding: 15px;
  margin-right: 15px;
  font-size: 25px
}
.contact .info .details h4 {
  font-weight: 600
}
.contact .message {
  flex: 1;
}

.contact .message h3 {
  margin-bottom: 15px;
  font-weight: 600
}
.contact .message form input,
.contact .message form textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: 1px solid #DADADA;
  outline: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px;
  font-size: 20px;
  caret-color: var(--main-color);
  color: var(--main-color);
  font-weight: 500
}
.contact .message form textarea {
  height: 90px;
}
.contact .message form input::placeholder,
.contact .message form textarea::placeholder{
  font-weight: normal;
  font-size: 18px;
  transition: 0.5s;
  font-family: 'Poppins', sans-serif;
}
.contact .message form input:focus::placeholder,
.contact .message form textarea:focus::placeholder {
  opacity: 0
}
.contact .message .form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(202px, 1fr));
  gap: 5px
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: black;
  padding: 15px;
  color: white;
  text-align: center;
  font-weight: 500
}
.footer .span-one {
  color: var(--main-color)
}
.footer .span-two {
  font-weight: 700;
  font-size: 20px;
  position: relative;
  top: 2px
}
/* End Footer */
